:root {
  /* Brand Primary Color */
  --vp-c-brand-1: #6e15db;
  --vp-c-brand-2: #6e15db;

  --vp-button-brand-bg: #6e15db;

  /* Backgrounds */
  --vp-c-bg-alt: #faf8fc;
  --vp-c-bg-soft: #faf8fc;

  /* Sidebar */
  --vp-sidebar-bg-color: #faf8fc;

  /* Gray */
  --vp-c-gray-3: #faf8fc;
}

.dark {
  /* Brand Primary Color */
  --vp-c-brand-1: #700de9;
  --vp-c-brand-2: #700de9;

  --vp-button-brand-bg: #700de9;

  /* Backgrounds */
  --vp-c-bg: #120220;
  --vp-c-bg-alt: #1b1231;
  --vp-c-bg-elv: #120220;
  --vp-c-bg-soft: #1b1231;

  /* Sidebar */
  --vp-sidebar-bg-color: #120220;

  /* Gray */
  --vp-c-gray-3: #1b1231;

  /* Primary Button */
  --vp-button-brand-hover-bg: #5105ae;

  /* Hero Background Image */
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #700de96a 40%, #8f00dc1a 50%);
  --vp-home-hero-image-filter: blur(44px);
}
